.ev_desc{
    font-style: italic;
    font-size: large;
}

.textcur{
    font-style:italic;
    text-decoration: none;
}

.wave{
    color:black;
}

.bg{
    background-image: url(../images/veranstaltungen-wien.jpg);
}
.bxd{
    background-image: url(../images/xsportsworld1.jpg.pagespeed.ic.cziZMIKA4C.jpg);
}

.KatWeinTitle{
    color:black;
}
.KatWhiteTitle{
    color:white;
}

.welcomebox{
    height:max-content;
    width:90%; 
    margin-left:5%;
    margin-bottom:10px;
    padding:15px;
    color:white;
    font-size:18px;
    overflow-y: scroll;

}
.opacity_dark50{
    background-color: rgba(0, 0, 0, 0.5);
}

.yellink{
    color:yellow;
}
