{% extends 'base.html.twig' %}

{% block title %}New Events{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/styles.css")}}"
{% endblock %}

{% block body %}
    <div class="container w-75">
        <h1>Create new Event</h1>

            {{ include('events/_form.html.twig') }}
    </div>
    {# <a href="{{ path('app_events_index') }}">back to list</a> #}
{% endblock %}
